@use 'variables' as var;
@use 'mixins' as mix;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 1.6rem;
    line-height: 1.8;
    background: var.$dark-blue;
    margin: 0;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    // overflow: hidden;

    @include mix.large {
        justify-content: center;
        height: 100vh;
    }
}

#about,
#skills,
#work {
    min-height: 100vh;
}

.container {
    position: relative;
    width: 95%;
    height: 100%;
    max-width: 240rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mix.medium {
        row-gap: 1em;
    }

    @include mix.large {
        flex-direction: row;
        align-items: center;
    }
}

a {
    font-family: var.$font_logo;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-family: var.$font_main;
    font-size: 1.5rem;
    margin: 0;
}

label {
    font-family: var.$font_main;
    color: var.$white;
}

h1,
h2,
h3,
h4 {
    font-family: var.$font_main;
    margin: 10em;
    color: black;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;

}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.8rem;
    margin: 0;
}

#about,
#work {
    background-color: var.$white;
}

.personal-links {
    position: absolute;
    display: flex;
    z-index: 1;

    img {
        width: 9vw;
        max-width: 4rem;
    }

    @include mix.large {

        img {
            width: 3vw;
            min-width: 5rem;
        }
    }
}

.bg-img {
    max-width: 100%;
    height: 100vh;
}

.item-unvisible {
    visibility: hidden;
}

.item-visible {
    visibility: visible;
}

.text {
    text-align: justify;
    line-height: 1.8;
    padding: 2rem;

    h4 {
        color: var.$black;
        font-size: .95em;
    }

    @include mix.large {
        width: 80%;
        height: auto;
        margin: .5rem 1.5rem;
        margin-right: 3rem;
        padding: 0 5rem;
        text-align: justify;

        h4 {
            font-size: 1.3em;
        }
    }

}