@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// Fuentes
$font_logo: 'Bebas Neue', cursive;
$font_main: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 769px;
$desktop: 1025px;

// Colores
$black: #000000e0;
$white: #FFFFFF;
$dark: #010f30;
$ligth-dark: #2B4F8D;
$pink: #FE00EC;
$blue: #049CE4;
$light-blue: #02C9AF;

// $separacion: 5rem;

// // Fuentes

// $delgada: 300;
// $regular : 400;
// $bold: 700;
// $black: 900