@use '../base/variables' as var;
@use '../base/mixins' as mix;

.about-graph {
    display: flex;
    width: 100%;
    height: 35vh;
    justify-content: center;
    margin-bottom: -5rem;

    img {
        width: auto;
        height: 60%;
    }

    @include mix.large {
        align-items: center;
        width: 80vw;
        height: 50vh;
        margin: 0 1rem;

        img {
            width: auto;
            height: 60%;
        }
    }
}

.social {
    top: 95%;
    column-gap: 3rem;

    @include mix.medium {
        top: 100%;
        column-gap: 5rem;
    }

    @include mix.large {
        top: 95%;
        column-gap: 5rem;
    }
}