@use '../base/variables' as var;
@use '../base/mixins' as mix;

footer {
    position: relative;
    width: 100%;
    text-align: center;

    p {
        color: var.$white;
        padding: 1.5rem;
    }
}