@use '../base/variables' as var;
@use '../base/mixins' as mix;

header {
    width: 100vw;
    min-height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    overflow: hidden;
}

header .container {
    position: relative;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    // transition: 1s;
}

.navbar-logo {
    animation: navbar-logo 2s cubic-bezier(.5, .6, .6, 1);
    animation-fill-mode: backwards;
    transition: 1s;

    h4 {
        font-family: var.$font_logo;
        font-size: 10rem;
        color: var.$light-red;
        // transition: 1s;

        span {
            color: var.$red;
        }
    }
}

@keyframes navbar-logo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-menu {
    animation: navbar-menu 2s cubic-bezier(1, .6, .6, .5);
    animation-fill-mode: backwards;
    animation-delay: 1s;

    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        color: var.$white;
        padding: 0rem 2rem;
        font-size: 2.5rem;
    }

    @include mix.large {
        position: fixed;
        top: 85vh;
        flex-direction: row;
        justify-content: center;
        // transition: 4s;


        a {
            padding: .45rem 2.5rem 0 2.5rem;
            font-size: 5vw;
            // transition: cubic-bezier(1, 0, 0, 1);
        }

        .active {
            background-color: var.$blue;
        }

        a:hover {
            // box-shadow: .3rem .3rem .1rem -.1rem var.$red ;
            background-color: rgba(0, 0, 0, .4);
        }
    }
}

@keyframes navbar-menu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.move-header {
    padding: 0 -3rem;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    transition: .3s;

}

.bg-header {
    background-color: var.$dark-blue;
}

.move-logo {
    // transition: 10s;

    h4 {
        font-size: 6rem;
        // transition: 10s;
    }
}

.move-menu {
    position: relative;
    top: 0;
    // transition: 1.5s;

    a {
        font-size: 3rem;
        // transition: cubic-bezier(1, 0, 0, 1) 1s;
    }
}