@use '../base/variables' as var;
@use '../base/mixins' as mix;

section {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.personal-img {
    z-index: 100;
    position: fixed;
    top: 15%;
    left: 10%;
    right: 0;
    bottom: 0;
    background-image: url(../../../src/img/test2.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: personal-img 1.2s cubic-bezier(.5, .6, .6, 1);
    animation-fill-mode: backwards;
}

@keyframes personal-img {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.about {
    width: 100%;
    height: 100vh;
    background-color: var.$red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 20rem;
        color: black;
    }

}

.work {
    width: 100%;
    height: 100vh;
    background-color: var.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 20rem;
        color: black;
    }
}

.skills {
    width: 100%;
    height: 100vh;
    background-color: var.$red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 20rem;
        color: black;
    }
}

.contact {
    width: 100%;
    height: 100vh;
    background-color: var.$dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 20rem;
        color: black;
    }
}


.move-img {
    position: absolute;
}