@use '../base/variables' as var;
@use '../base/mixins' as mix;


#skills .container {
    // margin-top: 2;
    // width: 75%;

    h3 {
        color: var.$white;
        text-align: center;
    }

    h4 {
        color: var.$white;
        margin-bottom: 2rem;
        text-align: center;
    }

    p {
        color: var.$white;
    }

    @include mix.large {
        flex-direction: column;
        row-gap: 5rem;
        margin-top: -4rem;

        h4 {
            margin-bottom: 3rem;
        }
    }
}

.tools {
    width: 75%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    row-gap: 2.5rem;

    @include mix.large {
        width: 100%;
    }

}

.col {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    height: auto;

    img {
        width: auto;
        height: 4vh;
        max-height: 4rem;
    }

    @include mix.large {
        img {
            height: 6vh;
            max-height: 10rem;
        }
    }
}