@use '../base/variables' as var;
@use '../base/mixins' as mix;

#work .text {

    p {
        height: 25rem;
    }

    @include mix.large {
        margin-right: 3.5rem;
    }
}

.swiper {
    width: 85%;
    height: 30vh;

    @include mix.medium {
        width: 70%;
        height: 55%;
    }

    @include mix.large {
        width: 40%;
        height: 55%;
    }
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: var.$white;
    cursor: grab;

    img {
        width: 100%;
        height: auto;
    }

    &:hover {
        .hover-link {
            visibility: visible;
            width: 100%;
            height: 20%;
            background-color: rgba($color: var.$blue, $alpha: .8);

            a {
                visibility: visible;
                padding: .2rem 4.5rem;
            }
        }
    }
}

.hover-link {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    text-align: center;

    a {
        font-family: var.$font_main;
        font-size: 1.3rem;
        visibility: hidden;
        color: var.$blue;
        border-radius: 1rem;
        background-color: var.$white;
        transition: 0.3s ease-in-out;
    }

    &:hover {
        cursor: pointer;
    }

    @include mix.large {
        a {
            font-size: 1.8rem;
        }
    }
}

.github {
    position: relative;
    margin-bottom: 2rem;

    img {
        width: auto;
        height: 6vh;
        min-height: 4rem;
    }

    @include mix.large {
        position: absolute;
        top: 95%;
        margin-bottom: 0;
    }
}